{% for protocol in vips[item.key].proto %}
{% if protocol == 'https' %}
server {
  listen {{ vips[item.key].listen }}:443 spdy ssl;
  server_name {{ vips[item.key].server_name }};
  ssl_certificate {{ vips[item.key].ssl_crt }};
  ssl_certificate_key {{ vips[item.key].ssl_key }}; 
  ssl_ciphers         HIGH:!aNULL:!MD5;
{% if vips[item.key].ssl_staple is defined %}
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate {{ vips[item.key].ssl_staple }};
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
{% endif %}

{% for key, value in vips[item.key].locations|dictsort %}
  location {{ value.context }} {
  proxy_pass http://{{ value.backend }};
{% if loop.first %}
  health_check interval=2s fails=2 passes=5 uri={{ vips[item.key].probe_uri }} match={{ vips[item.key].probe }};
{% endif %} 
  }
{% endfor %}
  status_zone {{ vips[item.key].server_name }};

{% elif protocol == 'http' %}
server {
  listen {{ vips[item.key].listen }}:80; 
  server_name {{ vips[item.key].server_name }};

  location / {
    deny all;
    return 444;
  }
{% for key, value in vips[item.key].locations|dictsort %}
  location {{ value.context }} {
  proxy_pass http://{{ value.backend }};
{% if loop.first %}
  health_check interval=2s fails=2 passes=5 uri={{ vips[item.key].probe_uri }} match={{ vips[item.key].probe }};

{% endif %} 
  }
{% endfor %}
  status_zone {{ vips[item.key].server_name }}-{{ protocol }};
{% endif %}
{% endfor %}
}
